<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{index.page.name}"></title>
    <th:block th:include="fragments/f_head_css_js :: head"></th:block>
</head>
<body>

<div class="container">
    <th:block th:include="fragments/f_header :: header"></th:block>
    <th:block th:include="fragments/f_menu :: menu"></th:block>
    <div class="content">
        <a th:href="@{protect/index}">go to Protect!</a>
    </div>
    <th:block th:include="fragments/f_footer :: footer"></th:block>
</div>

</body>
</html>